@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #021620;
  background-color: #F2FAFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  background-color: #DDF2FF;
}

h2 {
  font-weight: bold;
}

pre {
  white-space: pre-wrap; 
  word-break: keep-all;
}

.genericButton:hover,.genericButton:focus {
  background-color: #2DAAE9;
}

.genericButton:disabled {
    background-color: transparent;
    color: #30373B;
}

.genericButton {
  background-color: #DDF2FF;
}

.pasteArea {
  background-color: #DDF2FF
}

.pasteArea:focus {
  background-color: #2DAAE9;
}

.warningBackground {
  background-color: #FFECC2;
}

.warningHighlight {
  background-color: #FFB30F;
}