@import "tailwindcss";

/* TODO remove */
/* 034732 (dark green) -d1f5be(green) -1d1128(purple) */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #021620;
  background-color: #F2FAFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  background-color: #DDF2FF;
}

.genericButton:hover,.genericButton:focus {
  background-color: #2DAAE9;
}

.genericButton:disabled {
    background-color: transparent;
    color: #30373B;
}

.genericButton {
  background-color: transparent;
}

.pasteArea {
  
}

.pasteArea:focus {
  background-color: #2DAAE9;
}