@import "tailwindcss";

/* TODO remove */
/* 034732 (dark green) -d1f5be(green) -1d1128(purple) */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #d1f5be;
  background-color: #1D1128;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  background-color: #034732;
}

.genericButton:hover,.genericButton:focus {
  background-color: #034732;
  color: #D1F5BE;
  border-color: #D1F5BE;
}

.genericButton {
  background-color: transparent;
  color: #D1F5BE;
  border-color: #D1F5BE;
}

.pasteArea {
  border-color: #d1f5be;
}

.pasteArea:focus {
  background-color: #034732;
}